<div class="content" align="center">

  <h2>Edit Album</h2>

  <form action="/albums/<%= @album.id %>" method="post">
    
    <input type="hidden" name="_method" value="put">
    
    <label for="title">Title:</label><br>
    <input type="text" name="title" value="<%= @album.title %>"><br>

    <label for="format">Format:</label><br>
    <input type="text" name="format" value="<%= @album.format %>"><br>

    <label for="cat_number">Catalogue Number:</label><br>
    <input type="text" name="cat_number" value="<%= @album.cat_number %>"><br>

    <label for="distributor">Distributor:</label><br>
    <input type="text" name="distributor" value="<%= @album.distributor %>"><br>


    <input type='submit' value="Update Album">
  </form>

</div>


