<div class="content" align="center" id="white_text">

  <h2>Edit Album</h2>

  <form action="/albums/<%= @album.id %>" method="post">
    
    <input class="input" type="hidden" name="_method" value="put">
    
    <label for="title">Title:</label><br>
    <input class="input" type="text" name="title" value="<%= @album.title %>"><br>

    <label for="format">Format:</label><br>
    <input class="input" type="text" name="format" value="<%= @album.format %>"><br>

    <label for="cat_number">Catalogue Number:</label><br>
    <input class="input" type="text" name="cat_number" value="<%= @album.cat_number %>"><br>

    <label for="distributor">Distributor:</label><br>
    <input class="input" type="text" name="distributor" value="<%= @album.distributor %>"><br>

    <button type='submit' class="button" value="delete" style="vertical-align:middle">
    <span>Update Album</span></button>
  </form>

</div>


