<% if @albums.count > 0 %>

<div class="content" align="center">
  <h2>Albums</h2>
  <table id="t01" align="center">
    <tr>

      <th>Artist</th>
      <th>Album</th>
      <th>Format</th>
      <th>Catalogue Number</th>
      <th>Distributor</th>
      <th>Edit</th>
      <th>Book In Stock</th>
     
      
      <% @albums.each do |album| %>
    
    </tr>

    <tr>
      <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name() %></a></td>
      <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
      <td><%= album.format() %> </td>
      <td><%= album.cat_number() %> </td>
      <td><%= album.distributor() %> </td>
      <td><a href="/albums/<%= album.id %>/edit">Edit</a></td>
      <td><a href="/stock/new">stock</a></td>
      <% end %>
    </tr>
  </table>
</div>

<% else %>
 <div align="center"><h2>Sorry there are no matching albums </h2></div>
<% end %>










