




<div class="content" align="center">
<h2>Stock</h2>
<table id="t01" align="center">
  <tr>
    <th>Artist</th>
    <th>Artist ID</th>
    <th>Album</th>
    <th>Format</th>
    <th>Cat No.</th>
    <th>Dist</th>
    <th>Album ID</th>
    <th>Quant</th>
    <th>Cost Price</th>
    <th>Sale Price</th>
    <th>MS</th>

    <% @stock.each do |stock| %>
  </tr>
  <tr>
    <%artist = stock.artist() %>
    <td><%= artist.name() %></td>
    <%album = stock.album() %>
    <td><%= album.artist_id %></td>
    <td><%= album.title() %></td>
    <td><%= album.format() %></td>
    <td><%= album.cat_number() %></td>
    <td><%= album.distributor() %></td>
    <td><%= stock.album_id() %></td>
    <td><%= stock.quantity() %></td>
    <td><%= stock.cost_price() %></td>
    <td><%= stock.sale_price() %></td>
    <td><%= stock.model_stock() %></td>
    <% end %>
  </tr>
</table>


</div>










